[report]
show_missing = True
omit =
    manage.py
    setup.py
    config.py
    calvineComments/wsgi.py
    calvineComments/views.py
    calvineComments/__init__.py
    calvineComments/urls.py
    calvineComments/test_settings.py
    venv*
    comments/migrations*
    comments/api*
    comments/apps.py*
    comments/views.py*
    comments/tests.py*
    comments/tests*
    comments/templatetags*
    search/migrations*
    search*
   

    
